<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Maps</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <!-- leaflet js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Open Street Maps</a>
</nav>

<main role="main" class="container">
    <div class="search-container">
        <form method="POST" action="">
            <input class="place" type="text" placeholder="Cerca per provincia, CAP o città...">
            <input id="search-place" type="button" value="Cerca">
        </form>
    </div>

    <div id="map-container">
        Open Street Maps
    </div>

    <div id="search-result">
        &nbsp;
    </div>

</main>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script>
    var mymap = L.map('map-container').setView([45.554753, 9.194645], 13);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(mymap);

    L.marker([45.554753, 9.194645]).addTo(mymap).bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
</script>
<script>
    $(document).ready(function(){
        $(".place").keyup(function(){
            var keyword = $(".place").val();

            console.log('inserito: '.concat($(".place").val()));

            if (keyword.length < 5) {
                $('#search-result').html('');
            }

            var url = 'https://nominatim.openstreetmap.org/search?format=json&limit=5&countrycodes=IT&dedupe=1&q='.concat(keyword);
            console.log('cerco: '.concat(url));
            $.getJSON (url)
                .done (function (data){
                    var locations = [];
                    $.each(data, function(key, val) {
                        console.log (val);
                        locations.push ('<div class="suggest">'.concat(val.display_name).concat('</div>'));
                    });
                    $('#search-result').html(locations);
                })
                .always(function () {
                    console.log('always.... blah, blah, blah ...')
                });
        });
    });

</script>
</body>
</html>